$RECYCLE.BIN/
**/*.rs.bk
**/env_backup
*-prefix/
*.a
*.app
*.cab
*.d
*.dll
*.dylib
*.exe
*.gch
*.icloud
*.iws
*.la
*.lai
*.lcov
*.lib
*.lnk
*.lo
*.log
*.mod
*.msi
*.msix
*.msm
*.msp
*.o
*.obj
*.out
*.pch
*.pdb
*.pid
*.pid.lock
*.seed
*.slo
*.smod
*.so
*.stackdump
*.tgz
*.tsbuildinfo
*~
**/*.*.swp
.swp
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
._*
.apdisk
.cache
.cache/
.com.apple.timemachine.donotpresent
.directory
.docusaurus
.dynamodb/
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
.fseventsd
.fuse_hidden*
.fusebox/
.grunt
.idea/*
.idea/**/aws.xml
__pycache__
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/caches/build_file_checksums.ser
.idea/httpRequests
.idea/replstate.xml
.idea/sonarlint/
.idea_modules/
.lock-wscript
.next
.nfs*
.ninja_deps
.ninja_log
.node_repl_history
.npm
.nuxt
.nyc_output
.parcel-cache
.pnp.*
.pnpm-debug.log*
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.serverless/
.stylelintcache
.svelte-kit
.temp
.tern-port
.vscode-test
.vuepress/dist
.webpack/
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
CMakeCache.txt
CMakeFiles
CMakeLists.txt.user
CMakeScripts
CTestTestfile.cmake
Icon
Makefile
Network Trash Folder
Temporary Items
Testing
Thumbs.db
Thumbs.db:encryptable
[Dd]esktop.ini
_deps
atlassian-ide-plugin.xml
bower_components
build/Release
cmake-build-*/
cmake_install.cmake
com_crashlytics_export_strings.xml
compile_commands.json
coverage
crashlytics-build.properties
crashlytics.properties
debug/
dist
ehthumbs.db
ehthumbs_vista.db
fabric.properties
install_manifest.txt
jspm_packages/
lerna-debug.log*
lib-cov
logs
node_modules/
npm-debug.log*
out
out/
pids
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
rust-project.json
target/
web_modules/
yarn-debug.log*
yarn-error.log*

# direnv
.direnv/
.envrc
